Repository edithatogo/unimelb-thesis-template-typst: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-template, check-packages, compile-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  - repo: local
    hooks:
      - id: validate-template
        name: Validate template structure
        entry: python scripts/validate_template.py
        language: system
        files: \.(typ|toml)$
        pass_filenames: false

      - id: check-packages
        name: Check package versions
        entry: python scripts/check_packages.py
        language: system
        files: \.(typ)$
        pass_filenames: false

      - id: compile-test
        name: Test Typst compilation
        entry: typst
        language: system
        files: thesis\.typ$
        args: [compile, thesis.typ]
        pass_filenames: false

feat: Update fonts to use official University of Melbourne fonts (Fraunces & Source Sans Pro) and fix Fletcher diagram compatibility
  thesis.typ
  utils/style.typ
Due: validate-template, check-packages, compile-test

docs: Add automation features documentation and create automation script
  README.md
  automate.sh
Due: none

feat: add disclaimer and absurd content for template demonstration
  README.md
  README.md.backup
  automate.sh
  pages/declaration.typ
  pages/front-matter.typ
  pages/glossary.typ
  pages/landscape-sample.typ
  pages/title.typ
  thesis.typ
  utils/style.typ
Due: validate-template, check-packages, compile-test

Clean up repository: remove test files and development artifacts
  README.md.backup
  test-glossary.typ
  test-header-minimal.typ
  test-header.typ
  test-index.typ
  test-layout-only.typ
  test-minimal.typ
  test-publications.typ
  test-thesis-minimal.typ
  thesis-test.typ
Due: validate-template, check-packages

Update
  LICENSE
  README.md
  assets/fonts/source-serif-4.005R.zip
  assets/fonts/source-serif-pro.zip
  config/glossary.typ
  config/index.typ
  config/publications.typ
  docs/design.md
  docs/tasks.md
  endmatter/optional-index.typ
  examples/chapters/chapter1-introduction.typ
  examples/chapters/chapter2-literature.typ
  examples/chapters/chapter3-methods.typ
  examples/samples/sample-ai-disclosure.typ
  examples/samples/sample-creative-outputs.typ
  examples/samples/sample-publications.typ
  examples/samples/sample-qa-checklist.typ
  frontmatter/authorship.typ
  frontmatter/dedication.typ
  frontmatter/preface.typ
  layouts/document.typ
  lib.typ
  pages/abstract.typ
  pages/acknowledgements.typ
  pages/declaration.typ
  pages/front-matter.typ
  pages/glossary.typ
  pages/preface.typ
  tasks.md
  thesis.typ
  typst.toml
Due: validate-template, check-packages, compile-test

docs: add compile examples notes and compatibility rationale
  README.md
  docs/COMPATIBILITY_NOTES.md
Due: none

docs: add compatibility notes and PR summary
  docs/PR_NOTES.md
Due: none

Checkpoint from VS Code for coding agent session
  docs/compatibility-notes.md
  scripts/compile_examples.sh
Due: none

sync: update PR branch with local copilot edits (style, validators, docs)
  docs/PR_NOTES.md
  docs/TEMPLATE_STANDARDS_ASSESSMENT.md
  docs/TYPST_STANDARDS_SUMMARY.md
  scripts/validate_template.py
  utils/style.typ
Due: validate-template, check-packages

chore: update typst.toml repo URL and bump patch to 0.2.1
  typst.toml
Due: validate-template

chore: standardise .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

chore: standardise .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

chore: standardise typst.toml
  typst.toml
Due: validate-template

chore: standardise renovate.json
  renovate.json
Due: none

chore: standardise AGENTS.md
  AGENTS.md
Due: none

chore: standardise CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: standardise SECURITY.md
  SECURITY.md
Due: none

style: format Typst sources with typstyle 0.15.0
  config/abbreviations.typ
  config/appendix.typ
  config/contributions.typ
  config/glossary.typ
  config/index.typ
  config/metadata.typ
  config/publications.typ
  endmatter/index.typ
  endmatter/optional-glossary.typ
  endmatter/optional-index.typ
  example-config.typ
  examples/samples/sample-publications.typ
  examples/samples/sample-qa-checklist.typ
  layouts/document.typ
  lib.typ
  pages/appendix.typ
  pages/declaration.typ
  pages/front-matter.typ
  pages/glossary.typ
  pages/landscape-sample.typ
  pages/preface-helpers.typ
  pages/preface.typ
  pages/title.typ
  sample-chapter.typ
  sample-config-with-features.typ
  thesis.typ
  thumbnail.typ
  utils/fonts.typ
  utils/style.typ
Due: validate-template, check-packages, compile-test

fix: upgrade codly for Typst 0.15
  utils/style.typ
Due: validate-template, check-packages

fix: upgrade codly for Typst 0.15
  scripts/update_template.py
Due: none

fix: upgrade CeTZ for Typst 0.15
  utils/style.typ
Due: validate-template, check-packages

fix: upgrade CeTZ for Typst 0.15
  scripts/update_template.py
Due: none

fix: preserve updater mapping syntax
  scripts/update_template.py
Due: none

fix: restore sources and upgrade Typst packages
  utils/style.typ
Due: validate-template, check-packages

style: format restored Typst source
  utils/style.typ
Due: validate-template, check-packages

fix: remove obsolete CeTZ plot export
  utils/style.typ
Due: validate-template, check-packages

fix: provide redistributable logo fallback
  utils/style.typ
Due: validate-template, check-packages

fix: use Typst 0.15 type values in headers
  layouts/document.typ
Due: validate-template, check-packages
